#conteneur{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
}
.element{
    width: 150px;
}
.rouge{
    background: red;
}
.vert{
    background: green;
    height: 100px;
}
.bleu{
    background: blue;
}